@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.cardComponent {
  border: 2px solid black;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 60px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px !important;
  width: 90%;
}
.btn {
  min-width: 80%;
  background: linear-gradient(58deg, #00887c 20%, #8dbb39 100%);
  padding: 15px;
  border: 2px solid black;
  border-radius: 15px;
  width: max-content;
  margin: 20px;
  font-size: 1.2em;
  font-weight: bolder;
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Source Code Pro", monospace; */
}
.arrow {
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0px;
}
.secondCardComp {
  display: flex;
}

.number {
  margin-left: 15%;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.cardComponentInner {
  display: grid;
  grid-template-columns: 55% 45%;
  width: 100%;
}
.date {
  font-size: 30px;
  width: 100%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.heading {
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
  font-size: 2.5em;
  margin-top: 14vh;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-bottom: 10px;
  color: aliceblue;
  /* border-bottom: 2px solid black; */
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textarea {
  margin-left: 10px !important;
  margin-right: 10px !important;
  max-width: 80% !important;
  text-align: center !important;
}

.form {
  max-width: 80%;
  margin-left: 10%;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  background: whitesmoke;
  /* background: linear-gradient(60deg, #a3f0e3 20%, #d1ff7c 100%); */
}

.MuiInputBase-input {
  z-index: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

@media screen and (max-width: 320px) {
  .heading {
    font-size: 2em;
  }
}
