.cardComponent {
  border: 2px solid black;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 60px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px !important;
  width: 90%;
}

.arrow {
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0px;
}
.secondCardComp {
  display: flex;
}

.number {
  margin-left: 15%;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.cardComponentInner {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
}
.date {
  font-size: 30px;
  width: 100%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.heading {
  margin-top: 14vh;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-bottom: 10px;
  /* border-bottom: 2px solid black; */
}
